@page
@model WebPortal.Areas.Admin.Pages.Roles.IndexModel

@{
    ViewData["Title"] = "Index";

     var pageSize = 10;
        string editUrl = Url.Page(
        "./Edit", 
        pageHandler: null,
        values: null
    );

     var rolesListToolbarItems = new List<object>()
                {
                    new { text = "Add New Role", tooltipText = "Add new role", prefixIcon = "e-add", id = "addNewRole", align = "Right" }
                };
}

<script type="text/javascript">

function navigateToLab(obj) {

    var link = $(obj);
    var id = link.attr("data-id");
    var url = '@(editUrl)?viewId=' + id;

    window.ShowMessageWhileNavigating("Loading Lab", "Please wait ...", url)

    return;
}

</script>

<script type="text/x-jsrender" id="viewLabTemplate">
     <div class="row align-content-center">
         <div class="col"><a data-id="${Id}"  onclick="navigateToLab(this);" href="javascript:void(0);"> <span class="e-icons e-edit"></span></a></div>
         <div class="col"><a data-roleId="${Id}"  onclick="ShowDeleteRoleDialog(this);" href="javascript:void(0);"> <span class="e-icons e-delete"></span></a></div>
    </div>
</script>


<h2>Roles</h2>

<ejs-grid id="rolesGrid" allowPaging="true" allowSorting="true" allowFiltering="true" toolbarClick="rolesToolbarClick" toolbar=rolesListToolbarItems>
    <e-data-manager url="@Url.Action("GetRoles", "Roles")" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-pagesettings pageSize="@pageSize"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="Id" headerText="#" width="90"></e-grid-column>
        <e-grid-column field="Name" headerText="Name"  width="90"></e-grid-column> 
        
        <e-grid-column field="Options" headerTextAlign="Left" headerText="Options" width="50" template="#viewLabTemplate" allowFiltering="false"></e-grid-column>
    </e-grid-columns>
</ejs-grid>


<div class="modal fade" id="deleteRoleModal" tabindex="-1" aria-labelledby="exampleModalRoleel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalRoleel">Delete Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="DeleteRoleId" />
        <div id="deleteRoleModal_Boday">

        </div>
      </div>
      <div class="modal-footer">
          <button type="button" id="deleteRoleModal_Save" class="btn btn-primary" onclick="ProcessDeleteRole();">Save changes</button>
        <button type="button" id="deleteRoleModal_Cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addRoleModal" data-bs-focus="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-12" id="addRoleModal_Body">
              </div>
              <div class="col-12" id="addRoleControls">
                <div class="form-row">
                    <label for="addRoleName" class="col-12 pb-2">Role Name @Html.Raw(String.Format(WebPortal.Helpers.Bootstrap.DangerBadge,"req","RequiredField"))</label> <!-- /form column -->
                    <input type="text" id="addRoleName" class="form-control"/>
                </div>                 
            </div>
          </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="addRole_Save" onclick="processAddRole();">Save changes</button>
        <button type="button" class="btn btn-secondary" id="addRole_Cancel" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    document.getElementById('deleteRoleModal').addEventListener('hidden.bs.modal', function (event) {
            var grid = document.getElementById('rolesGrid').ej2_instances[0];
            grid.refresh();
    });

    function ShowDeleteRoleDialog(el){
        var elm = $(el);
        let id = elm.attr("data-roleId");
        $("#DeleteRoleId").val(id);

        $('#deleteRoleModal_Save').show();
        $('#deleteRoleModal_Cancel').html('Cancel');
        $('#deleteRoleModal_Cancel').show()

        var modelBodyId = 'deleteRoleModal_Boday';
        var modalId = 'deleteRoleModal';

        document.getElementById(modelBodyId).innerHTML = '<p>Are you sure you want to delete the Role</p>';
        $('#' + modalId).modal('show');
    }


    function ProcessDeleteRole()
    {
        // get target element
        var modelBodyId = "deleteRoleModal_Boday";

        // build url
        var url = '@Url.Action("DeleteRole", "Roles")';

        // create payload
        var payload = {
            "RoleId": $("#DeleteRoleId").val()
        };

        // set UI to wait
        document.getElementById(modelBodyId).innerHTML = getLoadingIndicator('Processing ...');

        //hide buttons
        $('#deleteRoleModal_Save').hide();
        $('#deleteRoleModal_Cancel').hide();

        // get content
        $.ajax({
            contentType: "application/json",
            type: 'POST',
            url: url,
            data: JSON.stringify(payload),
            success: function (result) {
                document.getElementById(modelBodyId).innerHTML = result;

                if (result.indexOf("@(WebPortal.Helpers.Constants.SuccessToken)") > -1) {
                    $('#deleteRoleModal_Cancel').html('OK');
                    $('#deleteRoleModal_Cancel').show();
                }
                else{
                    $('#deleteRoleModal_Cancel').html('Close');
                    $('#deleteRoleModal_Cancel').show();
                }
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
                $('#deleteRoleModal_Cancel').html('Close');
                $('#deleteRoleModal_Cancel').show();
            }
        });
    }

     function rolesToolbarClick(args) {

        if (args.item.id === 'addNewRole') {
            showAddRole();
        }
    }

    function showAddRole(){
        $("#addRole_Cancel").html('Cancel');
        $("#addRole_Save").show();
        $("#addRole_Cancel").show();
        $('#addRoleName').html('');
        $('#addRoleModal_Body').html('');
        $('#addRoleControls').show();
        $('#addRoleModal').modal('show');
    }

    function processAddRole(){
        var modelBodyId = 'addRoleModal_Body';
        var url = '@Url.Action("CreateRole", "Roles")';

        var payload = {
            "Name": $("#addRoleName").val()
        }
    
        document.getElementById(modelBodyId).innerHTML = window.getLoadingIndicator('Loading');

        $("#addRole_Save").hide();
        $("#addRole_Cancel").hide();


        $.ajax({
            contentType: "application/json",
            type: 'POST',
            url: url,
            data: JSON.stringify(payload),
            success: function (result) {
                document.getElementById(modelBodyId).innerHTML = result;
                if (result.indexOf("@(WebPortal.Helpers.Constants.SuccessToken)") > -1) {
                    $('#addRoleControls').hide();
                    $("#addRole_Cancel").html('OK');
                    $("#addRole_Cancel").show();
                    var grid = document.getElementById('rolesGrid').ej2_instances[0];
                    grid.refresh();
                }
                else {
                    $("#addRole_Save").show();
                    $("#addRole_Cancel").show();
                }
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);

                $("#addCustomerModal_Save").show();
                $("#addCustomerModal_Cancel").show();
            }
        });
    }

</script>